{% extends 'base.html' %}

{% block title %}About page{%  endblock %}

{% block body %}
    <div class="container">
    <h1>Add article</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="input title"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="input intro"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="input text"></textarea><br>
        <input type="submit"  class='btn btn-success' value="input"><br>
    </form>
    </div>
{% endblock %}